body {
    background-color: rgb(230, 230, 250);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.image{
    border: 5px solid #005285;
    border-radius: 10px;
    height: 400px;
    display: block;
    margin: auto;
}

.link-button {
    text-decoration: none;
    color: #cee5ff;
    background-color: #005285;
    padding: 5px;
    border-radius: 20px;
    padding: 8px;
}
